.input-box {
  background-color: blanchedalmond;
  height: 30vh;
  width: 100%;
}

.input-box-title {
  color: black;
  font-size: larger;
  font-weight: bold;
  background-color: coral;
  width: 100%;
}