.input-label {
  color: azure;
  margin-inline-start: 2vw;
}

.input-text {
  width: 5vw;
  margin-block-start: 2vw;
}

.input-box-controls {
  display: flex;
  justify-content: center;
  align-items: center;
}
